# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
dist/
build/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution folders
*.egg-info/
